---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Interested in hacking, info sec, nerd stuff."
  pubDate={new Date()}
  heroImage={AboutHeroImage}
>
  <p>
    I'm interested in hacking, info sec, and general nerd stuff. This site is
    where I blog, keep writeups, notes, and projects as I learn and build.

    <p class="tagline">“My voice is my passport. Verify me.”</p>
  </p>
</Layout>
